{% load static %}
<!DOCTYPE html>
<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset-utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'Css/wishlist.css' %}" />
    <script type="text/javascript" src="{% static 'JavaScript/wishlist.js' %}" async></script>
</head>
<body id="layout">
    <header>
        <h1 class="center">
            Simple Wishlist Project
        </h1>
    </header>
    <main>
        <div id="content">
            <div class="product">
                <div id = "product0">
                    <img src="{% static 'Images/pic1.jpeg' %}" height="150" width="200" />
                    <p>Type: Dress</p>
                    <p>Price: Rs 800</p>
                </div>
                <input type="button" value="Add to List" id="0" class="but" />
            </div>
            <div class="product">
                <div id = "product1">
                    <img src="{% static 'Images/pic2.jpeg' %}" height="150" width="200" />
                    <p>Type: Dress</p>
                    <p>Price: Rs 1000</p>
                </div>
                <input type="button" value="Add to List" id="1" class="but" />
            </div>
            <div class="product">
                <div id = "product2">
                    <img src="{% static 'Images/images3.jpeg' %}" height="150" width="200" />
                    <p>Type: Dress</p>
                    <p>Price: Rs 800 </p>
                </div>
                <input type="button" value="Add to List" id="2" class="but" />
            </div>
            <div class="product">
                <div id = "product3">
                    <img src="{% static 'Images/pic4.jpeg' %}" height="150" width="200" />

                    <p>Type: Dress</p>
                    <p>Price: Rs 980</p>
                </div>
                <input type="button" value="Add to List" id="3" class="but" />
            </div>
            <div class="product">
                <div id = "product4">
                    <img src="{% static 'Images/pic5.jpeg' %}" height="150" width="200" />

                    <p>Type: Dress</p>
                    <p>Price: Rs 1400 </p>
                </div>
                <input type="button" value="Add to List" id="4" class="but" />
            </div>           
            <div class="product">
                <div id = "product5">
                    <img src="{% static 'Images/pic4.jpeg' %}" height="150" width="200" />
                
                    <p>Type: Dress</p>
                    <p>Price: Rs 2378</p>
                </div>
                <input type="button" value="Add to List" id="5" class="but" />
            </div>                        
            <div class="product">
                <div id = "product6">
                    <img src="{% static 'Images/images1.jpeg' %}" height="150" width="200" />
                    <p>Type: Dress</p>
                    <p>Price: Rs 3000</p>
                </div>
                <input type="button" value="Add to List" id="6" class="but" />
            </div>                        
            <div class="product">
                <div id = "product7">
                    <img src="{% static 'Images/pic6.jpeg' %}" height="150" width="200" />
                    <p>Type: Dress</p>
                    <p>Price: Rs 2040 </p>
                </div>
                <input type="button" value="Add to List" id="7" class="but" />
            </div>                        
            <div class="product">
                <div id = "product8">
                    <img src="{% static 'Images/pic7.jpg' %}" height="150" width="200" />
                    <p>Type: Wrist Watch</p>
                    <p>Price: Rs 3000</p>
                </div>
                <input type="button" value="Add to List" id="8" class="but" />
            </div>                                                            
        </div>
    </main>

    <aside id = "wishlist">
        <h2 class="center">My Wishlist</h2>
    </aside>
    <footer>
        <p>
            &copy; <script>document.write(new Date().getFullYear())</script> CodeWithVivek
        </p>
    </footer>
</body>
</html>